#CV {
    text-decoration: none;
    color: white;
}

#CV:hover{
    color: white;
}

.SampleProject{

    background-image: linear-gradient(to bottom right, rgb(43, 43, 43),rgb(156, 156, 156));
    
    
    & .projectImg{
        scale: 1.0;
        transition: 1s;
    }

}


.SampleProject:hover{
    
    & .projectImg{
        scale: 1.1;
        transition: .7s;
    }

}

.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ffffff,
      #535353,
      #000000,
      #8e9182,
      #565c5b,
      #f5f6ff,
      #333333,
      #5e5853,
      #dcdcdc
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #282726;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.Go {
  text-decoration: none;
  color: black
}

.Go:hover{
  color: rgb(234, 234, 234);
  text-decoration: underline;
}