#CV {
    text-decoration: none;
    color: white;
}

#dlCV{
  color:white;
  background-color: transparent;
  border: 1px solid;
  padding: 10px 24px;
}

#dlCV:hover{
  background-color: rgb(56, 56, 56);
  border: 1px solid;
  border-color: white;
  transition: .6s;
}

#bg {
  background: linear-gradient(90deg, rgba(0,0,0,1) 9%, rgba(114,114,114,1) 100%);
}

#mainImg{
  filter: grayscale(90%);
}

#abtMeHeader{
  letter-spacing: -5px;
}

#yr{
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}

#yr:hover{
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  transition: .3s;
}

.tech{
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;

}

.tech:hover{
  border-color: rgb(83, 83, 83);
  transition: .5s;
}

.proj{
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}

#projContainer{
  background-color: transparent;
  transition: box-shadow 1s ease-out 50ms;
}

#projContainer:hover{
  box-shadow: 7px 5px white;
  text-shadow: 10px white;
}

.sampleWeb{
  text-decoration: none;
  transition: all 1s ease-out 50ms;
}

.sampleWeb:hover{
  color: #fff;
}

#viewProj{
  text-decoration: none;
  color: white;
  transition: all 1s ease-out 50ms;
}

#viewProj:hover{
  background-color: white;
  padding: 5px;
  transition: 1s;
  color: black;
  border-radius: 5px;
}

#start{
  letter-spacing: -5px;
}

#emailLink{
  text-decoration: none;
}

#email{
  color: white;
  transition: color .7s ease-in-out 20ms
}

#email:hover{
  color: black;
}

#socialsContainer1{
  background-color: transparent;
  border: none;
  transition: .8s ease-out 50ms;
}

#socialsContainer1:hover{
  background-color: rgb(68, 68, 68);
}

#socialsContainer2{
  background-color: transparent;
  border: none;
  transition: .8s ease-out 50ms;
}

#socialsContainer2:hover{
  background-color: rgb(78, 78, 78);
}

.socials{
  text-decoration: none;
  color: white;
}

.SampleProject{

    background-image: linear-gradient(to bottom right, rgb(43, 43, 43),rgb(156, 156, 156));
    
    
    & .projectImg{
        scale: 1.0;
        transition: 1s;
    }

}


.SampleProject:hover{
    
    & .projectImg{
        scale: 1.1;
        transition: .7s;
    }

}


.Go {
  text-decoration: none;
  color: black
}

.Go:hover{
  color: rgb(234, 234, 234);
  text-decoration: underline;
}