#CV {
    text-decoration: none;
    color: white;
}

#dlCV{
  color:white;
  background-color: transparent;
  border: 1px solid;
  padding: 10px 24px;
}

#dlCV:hover{
  background-color: rgb(56, 56, 56);
  border: 1px solid;
  border-color: white;
  transition: .6s;
}

#bg {
  background: linear-gradient(90deg, rgba(0,0,0,1) 9%, rgba(114,114,114,1) 100%);
}

#mainImg{
  filter: grayscale(90%);
}


.SampleProject{

    background-image: linear-gradient(to bottom right, rgb(43, 43, 43),rgb(156, 156, 156));
    
    
    & .projectImg{
        scale: 1.0;
        transition: 1s;
    }

}


.SampleProject:hover{
    
    & .projectImg{
        scale: 1.1;
        transition: .7s;
    }

}


.Go {
  text-decoration: none;
  color: black
}

.Go:hover{
  color: rgb(234, 234, 234);
  text-decoration: underline;
}