.icons {
    color: rgb(85, 85, 85);
    transition: color 2s ease-out 50ms
}

.icons:hover {
    color: rgb(255, 255, 255);
}

.links {
    color: rgb(219, 219, 219);
    position: relative;
    text-decoration: none;
    transition: color 2s ease-out 10ms
    
}

.links:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    transition: 2s;
}